{% extends 'base.html' %}

{% block title %}
Edit User Form
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Edit User</h1>
    <form action="">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name" id="first-name">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name" id="last-name">
      <label for="image-url">Image URL</label>
      <input type="url" name="image-url" id="image-url" placeholder="{{  }}">
      <a href="#" id="cancel-btn">Cancel</a>
      <button type="submit">Save</button>
    </form>
  </div>
{% endblock %}