{% extends 'base.html' %}

{% block title %}
Edit User Form
{% endblock %}

{% block content %}
<div class="container">
  <h1>Edit User</h1>
  <form action="/users/{{ user.id }}/edit" method="POST">
    <label for="first-name">First Name</label>
    <input required type="text" name="first-name" id="first-name" value="{{ user.first_name }}">
    <label for="last-name">Last Name</label>
    <input required type="text" name="last-name" id="last-name" value="{{ user.last_name }}">
    <label for="image-url">Image URL</label>
    <input type="url" name="image-url" id="image-url" value="{{ user.image_url }}">
    <a href="/users/{{ user.id }}" id="cancel-btn">Cancel</a>
    <button type="submit">Save</button>
  </form>
</div>
{% endblock %}
