{% extends 'base.html' %}

{% block title %}
User Details
{% endblock %}

{% block content %}
<div class="container">
  <img src="{{ user.image_url }}" alt="">
  <h1>{{ user.get_full_name() }}</h1>
  <a href="/users/{{ user.id }}/edit" id="edit-btn">Edit</a>
  <form action="/users/{{ user.id }}/delete" method="POST">
    <button type="submit" id="delete-btn">Delete</button>
  </form>
  <ul>
    {% for post in user.posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <a href="/users/{{ user.id }}/posts/new" id="add-post-btn">Add Post</a>
</div>
  <a href="/users">Home</a>
{% endblock %}
